/*--------------PRINCIPIO DE LA PÁGINA-----------*/
body {
	background-size: 100% 100%;
}
/*--------------CAJA PRINCIPAL QUE CONTIENE-----------*/
	section#pagina {
		background-color: black;
		width: 80%;
		height: 1050px;
		margin: 5% auto;
		box-shadow: 5px 5px 15px #C8C7C7;
	}
/*--------------CABECERA-----------*/
	header#cabecera {
		background-color: #048400;
		width: 100%;
		height: 200px;
		position: sticky;
		top:0px;
	}
	nav#logo{
		background-color: #048400;
		width: 40%;
		height:auto;
		display: inline-block;
	}
	
	img#ecotech {
		width:100%;
		height: 100%;
	
	}
	/*--------------AVISO DE UTILIDAD DE LA PÁGINA-----------*/
	nav#aviso {
		width: 100%;
		height: 50px;
		background-color: #01A10C;
		position: sticky;
		top:200px;
	}
	p.avisom{
		margin-left: 25%;
		font-size: auto;
		color:white;
		display: inline-block;
	}
	/*--------------MENU DE LA PÁGINA-----------*/
	aside#menu {
		float: left;
		width: 20%;
		height: auto;
		background-color: black;
		position: sticky;
		top:250px;
	}
	ul{
		height: 60%;
		padding: 5%;
		margin:-5%;
		list-style: none;
		width: 100%;
		
	}
	li{
		margin-top:2%;
		color: #F1F0F0;	
		border-bottom: 1px solid;
		width: 100%;
		font-size: 84%;
	}
	p#lista{
		margin-left:20%;
		margin-bottom: 21.2%;
	}
	/*--------------PROPIEDADES DE LOS ENLACES-----------*/
	a{
		text-decoration: none;
		color: white;
	}
	/*--------------CONTENIDO DE LA PÁGINA-----------*/
	article {
		background-color: #F5F7F5;
		float: right;
		height: 650px;
		width: 80%;
	}
	/*--------------TEXTO EN CONTENIDO-----------*/
	h1{
		margin-top:5%;
		border-bottom: 1px solid;
		display: block;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		float: none;
		z-index: auto;
		position: static;
		opacity: 1;
		overflow: visible;
		border: none;
		-webkit-border-radius: 0;
		border-radius: 0;
		font: normal 20px;
		color: #048C18;
		text-align: center;
		background: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		text-shadow: 0 1px 0 #048C18 , 0 2px 0 #048C18 , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
		-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
		transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
		-webkit-transform: none;
		transform: none;
		-webkit-transform-origin: 50% 50% 0;
		transform-origin: 50% 50% 0;
	}
	h2{
		margin:5%;
		font-size: 130%;
	}
	h3{
		margin-left: 5%;
		font-size: 100%;
		margin-top:10%;
	}
	/*-------------BOTÓN DE FORMULARIO-----------*/
	button.botonform{
		background-color:#01A10C;
		margin-left: 35%;
	}
	h4{
		
		margin-left: 5%;
		margin-top: 10%;
		font-size: 100%;
	}
	/*-------------CONTENIDO DE ARTICLE-----------*/
	img#fotocontenido{
		height: 20%;
		width: 45%;
		margin-left: 25%;
		margin-bottom: 10%;
	}
	p.sobrenosotros{
		margin:5%;
		font-family: 'IBM Plex Sans Condensed', sans-serif;
	}
	img.Componentes{
		margin:2%;
		margin-top: 5%;
		height: 20%;
		width: 20%;
		display: inline-block;
	}
	img.equipo{
		margin:2%;
		margin-top: 5%;
		height: 30%;
		width: 25%;
		display: inline-block;
	}
	img.SO{
		margin:2%;
		margin-top: 5%;
		height: 30%;
		width: 25%;
		display: inline-block;
	}
	img.SO:hover{
		background-color: #555;
	}
/*--------------FINAL DE LA PÁGINA-----------*/
	footer {
		background-color: #7F7E7E;
		height: 150px;
		width: 100%;
		clear: both;
		color: #4C4B4B;
	}
	h5{
		margin-left: 25%;
		margin-top: 5%;
		display: inline-block;
	}